* {
    margin:0;
    padding:0;
}

h1{
    text-align: center;
    background-color: blue;
    color: white;
    height: auto;
}

.choice{
    height:150px;
    width: 150px;
    object-fit: cover;
    display: flex;
    
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 60px;
}
.choices{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;;
}
.score{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    align-items: center;
}
#Computer,#user{
    font-size: 20px;
}

.msg{
    align-items: center;
    background-color: rgb(13, 57, 60);
    color:white;
    text-align: center;
    font-size: large;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 60px;

    
}
.try{
    display: inline;
        border-radius: 60px;

}